// Tipografia
$fuente_principal: 'Lato', sans-serif;

// Colores
$negro: #000;
$blanco: #fff;
$gris: #777;
$verde: #2ecc71;
$negroClaro: #111;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

//Max tamaños
$telefonoM: 480px;
$tabletM: 768px;
$desktopM: 992px;
$desktopMXL: 1200px;