@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
  padding: 4rem 0;
}

.footer__texto {
  text-align: center;
  p {
    span {
      display: block;
      font-size: 1.4rem;
    }
  }
}